$FuentePrincipal: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$fuenteSecundaria: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$TextSm: 1.8rem;
$TextXl: 5rem;

$tamText: (
  "uno": 1.28rem,
  "dos": 1.5rem,
  "tres": 3rem,
  "cuatro": 2rem,
  "cinco": 5rem,
  "ocho": 8rem,
);
